<IfModule mod_rewrite.c>
	
	RewriteEngine On
	RewriteBase /582-31B-MA-Programmation-web-avancees/travail-pratique-03/dev-local/
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]

</IfModule>