/* Variables ++++++++ */
:root {
	--light-text: #fefefe;
	--light-background: #efefef;

	--radius: 3px;

	--box-shadow-common:
		1px 0px 3px 1px hsla(0, 0%, 0%, .15),
		0px 1px 2px 1px hsla(0, 0%, 0%, .1);

	--box-shadow-hover:
		1px 0px 3px 1px hsla(123, 50%, 10%, .3),
		0px 1px 2px 1px hsla(123, 50%, 10%, .3);


	--trans-duration-normal: 300ms;
	--trans-duration-fast: 100ms;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	padding: 4em 4em;
	line-height: 1.7;

	background-color: var(--light-background);
}

/* Rythme vertical */
:where(:not(.grid)) > * + * {
	margin-top: 1.2em;
}

body > * + * {
	margin-top: 3em;
}

ul {
	list-style-type: none;
}

h1 {
	max-width: 15ch;
	
	font-size: 3em;
	line-height: 1.25;
}

main {
	max-width: 80ch;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: currentColor;
}

p {
	max-width: 60ch;
}





.cta, button, .animal-class {
	display: block;

	max-width: max-content;
	padding: 0.25em 0.5em;
	border-radius: var(--radius);
	
	color: var(--light-text);	
}

.animal-class {
	font-size: 0.8em;
}


.aninalClass-id-1 {
	background-color: hsl(20, 50%, 20%);
}

.aninalClass-id-2 {
	background-color: hsl(120, 50%, 20%);
}

.aninalClass-id-3 {
	background-color: hsl(280, 50%, 20%);
}

.aninalClass-id-4 {
	background-color: hsl(240, 50%, 20%);
}

.aninalClass-id-5 {
	background-color: hsl(200, 50%, 20%);
}

.cta, button {
	text-decoration: none;
	background-color: hsla(240, 40%, 12%, .8);
	box-shadow: var(--box-shadow-common);

	transition-duration: var(--trans-duration-fast);
}

:is(.cta, button):hover {
	box-shadow: var(--box-shadow-hover);
}

:is(a, button):active {
	transform: translate(1px, 2px);
}

.tagline {
	margin-top: 1em;
	display: block;
	font-size: 1.2em;
}

.actions {
	columns: 2;
	gap: 1.5rem;
}


/* Grille fiches*/
.animal-listing .grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
	gap: 1.5rem;
}

.animal-listing article {
	padding: 1em;
	border-radius: var(--radius);
	background-color: hsla(0, 0%, 0%, .08);
}

.entries-listing li > a:first-child {
	font-weight: 700;
}



/* Formulaire et ses éléments */
input, textarea, select {
	display: block;
	
	width: 100%;
	max-width: 40ch;
	padding: 4px 8px;
	
	font-size: inherit;
	font-family: sans-serif;
	background-color: transparent;
}

input, select {
	border: 0;
	border-bottom: 1px solid currentColor;
}

option {
	background-color: transparent;
}

textarea {
	border: 1px solid currentColor;
}

button {
	font-size: inherit;
	border: 0;
	cursor: pointer;
}

select {
	font-size: inherit;
}
